@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: 'Kumbh Sans';
    --orange:  #eb9150;
    --paleorange: hsl(25, 100%, 94%);
    --darkblue:  hsl(220, 13%, 13%);
    --darkgrey: hsl(219, 9%, 45%);
    --grey: hsl(220, 14%, 75%);
    --lightgrey: hsl(223, 64%, 98%);
    --black: hsl(0, 0%, 0%, 75%);
}

body {
    background: white;
    display: flex;
    min-height: 100vh;
    margin:0%;
}



/* nav styles start here*/

header {
    text-align: left;
    position: fixed;
    width: 100%;
    height: 68px;
    z-index: 999;
    display: flex;
}

.logo {
    position: unset;
    text-align: left;
    margin: 0;
    margin-left: 56px;
    margin-top: 21px;
    height: 20px;
    width: auto;
   
}

nav {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    background: white;
    width: 65%;
    height: 100vh;
    z-index: 999;
    display: none;
    
}

nav ul {
    padding: 0;
    list-style: none;
    margin-top: 80px;
}

nav li {
    margin-top: 30px;
    font-weight: 700;
    margin-left: 1.5em;
}

nav a {
    text-decoration: none;
    color: var(--darkblue);
    margin: 0;
}

nav a:hover {
    color: grey;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 24px;
    margin-top: 24px;
    z-index: 999;
}

.close-menu {
    display: none;
}

.nav-toggle:checked ~ nav {
    display: block;
    
}

.cart-avatar {
    top: 0;
    right: 0;
    margin: 0;
    margin-top: 15px;
    margin-right: 24px;
    position: absolute;
}

.avatar {
    height: 24px;
    width: auto;
    padding: 5px;
}

.cart-top {
    padding: 5px;
    height: 20px;
    width: auto;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    z-index: 998;
    display: none;
}

.overlay.visible {
    display: block;
}

.container {
    position: absolute;
    margin-top: 69px;
}

.slide-gallery {
    position: absolute;
    height: 300px;
    overflow: hidden;
    position: relative;
    object-fit: contain;
}

.slide-gallery img {
    width: 100%;
    object-fit: contain;
}

.arrows {
    position: absolute;
    top: 135px;
    z-index: 998;
    background-color: white;
    height: 30px;
    width: 30px;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-img {
    left: 24px;
}

.next-img {
    right: 24px;
}


.card {
    padding: 26px;
}

.s-comp {
    font-size: 10pt;
    color: var(--orange);
    font-weight: 800;
}

.s-header {
    font-weight: 700;
}

.s-descrip {
    color: var(--darkgrey);
    line-height: 1.6;
}

.prices {
    display: flex;
    justify-content: space-between;
}


.price-new {
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.6; 
}

.price-discount {
    color: var(--orange);
    background-color: var(--paleorange);
    width: 50px;
    height: 27px;
    border-radius: 20%;
    text-align: center;
    font-weight: 700;
    line-height: 1.6;
 
}

.price-original {
    color: var(--grey);
    text-decoration: line-through;
    font-weight: 700;
    font-size: 1.5em; 
}
