@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: 'Kumbh Sans';
    --orange:  #ff7d1b;
    --lightorange: #ffd9b2;
    --paleorange: hsl(25, 100%, 94%);
    --darkblue:  hsl(220, 13%, 13%);
    --darkgrey: hsl(219, 9%, 45%);
    --grey: hsl(220, 14%, 75%);
    --lightgrey: hsl(223, 64%, 98%);
    --black: hsl(0, 0%, 0%, 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/*----------header styles-------------*/

header {
    background-color: white;
    text-align: left;
    position: fixed;
    width: 100%;
    height: 68px;
    z-index: 2000;
    display: flex;
}

.logo {
    position: unset;
    text-align: left;
    margin: 0;
    margin-left: 56px;
    margin-top: 21px;
    height: 20px;
    width: auto;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 65%;
    height: 100vh;
    z-index: 999;
    display: none;
    transition: 2s ease-in-out;
}

.nav-menu {
    margin-top: 80px;
}

.nav-menu li {
    list-style: none;
    margin-top: 30px;
    font-weight: 700;
    margin-left: 1.5em;
}

.nav-menu a {
    text-decoration: none;
    color: var(--darkblue);
}

.nav-menu a:hover {
    color: var(--grey);
}

.nav-bar.active {
    display: block;
}

.hamburger {
    display: block;
    position: fixed;
    left: 24px;
    top: 22px;
    cursor: pointer;
    z-index: 1000;
}

.bar {
    background-color: var(--darkgrey);
    display: block;
    width: 16px;
    height: 3px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.cart-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3px;
    left: 124px;
}

.avatar {
    height: 25px;
    width: auto;
    margin-right: 30px;
}

.cart-top {
    height: 20px;
    width: auto;
    margin-right: 22px;
}

.cart-active:hover {
    filter: brightness(-100%);
}

.cart-active.visible {
    filter: brightness(-100%);
}

.cart-count {
    position: relative;
    width: 20px;
    height: 15px;
    background-color: var(--orange);
    color: white;
    font-size: .7em;
    border-radius: 10px;
    left: 10px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-count p {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.cart-container {
    background-color: white;
    width: 95%;
    height: 255px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.308);
    top: 66px;
    margin: 10px;
    position: fixed;
    display: none;
    align-items: center;
    z-index: 2000;
}

.cart-container.visible {
    display: block;
    z-index: 2000;
}

.cart-container h3 {
    position: relative;
    font-size: 1em;
    padding: 20px;
}

.break {
    position: relative;
    width: 360px;
    height: 3px;
    background-color: var(--lightgrey);
}

.cart-items {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.cart-empty {  
    top: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkgrey);
    padding: 20px;
}

.cart-img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    padding: 5px;
}

.cart-content {
    display: flex;
    color: var(--darkgrey);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.8;
    padding: 5px;
}

#priceTotal {
    font-weight: 700;
    color: black;
}

.delete-btn {
    cursor: pointer;
}

.delete-btn:hover {
    filter: brightness(-100%);
}

.checkout {
    width: 90%;
    height: 56px;
    top: 75%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 0px;
    border-radius: 10px;
    font-size: 1em;
    background-color: var(--orange);
    color: white;
    cursor: pointer;
}

.checkout:hover {
    background-color: var(--lightorange);
}

/*----------main container styles-------------*/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 998;
    display: none;
}

.overlay.active {
    display: block;
}

.container {
    position: absolute;
    margin-top: 69px;
    width: 100%;
}

.slide-gallery {
    position: relative;
    display: flex;
    height: 350px;
    width: 100vw;
    overflow: hidden;
}

.slide-gallery img {
    display: flex;
    height: 100%;
    min-width: 100%;
}

.thumb-slide {
    display: none;
}

.arrows {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    top: 135px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer;
}

.arrows img {
    height: 15px;
    width: auto;
    z-index: 1000;
}

.arrows img:hover {
    filter: invert(56%) sepia(13%) saturate(5686%) hue-rotate(347deg) brightness(103%) contrast(102%);
}

.previous-img {
    left: 20px;
    z-index: 1000;
}

.next-img {
    right: 24px;
    z-index: 1000;
}

.gallery-modal{
    display: none;
}

/*----------product info/prices card styles-------------*/

.card {
    display: block;
    margin: 26px;
    margin-bottom: 0px;
}

.s-comp {
    margin-bottom: 22px;
    font-size: 10pt;
    color: #eb9a31;
    font-weight: 800;
    letter-spacing: 1px;
}

.s-header {
    margin-bottom: 22px;
    position: relative;
    font-weight: 700;
    font-size: 22pt;
    bottom: 10px;
}

.s-descrip {
    margin-bottom: 39px;
    position: relative;
    color: var(--darkgrey);
    line-height: 1.6;
    bottom: 13px;
    font-weight: 500;
}

.prices {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 30px;
    margin-bottom: 25px;
}

.price-new {
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.6; 
}

.price-discount {
    color: var(--orange);
    background-color: var(--paleorange);
    width: 50px;
    height: 27px;
    border-radius: 20%;
    text-align: center;
    font-weight: 700;
    line-height: 1.75;
    margin-right: 115px;
}

.price-original {
    color: var(--grey);
    text-decoration: line-through;
    font-weight: 700;
    font-size: 1.1em; 
}

/*----------add to cart btns styles-------------*/

.cart-btns {
    position: relative;
    bottom: 4vh;
}

.cart {
    background-color: var(--lightgrey);
    font-family: 'Kumbh Sans';
    width: 100%;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
    border: 0px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1em;
}

.minus {
    position: relative;
    right: 30px;
    cursor: pointer;
}

.minus:hover {
    filter: brightness(150%);
}

.plus {
    position: relative;
    left: 30px;
    cursor: pointer;
}

.plus:hover {
    filter: brightness(150%);
}

.add-cart-btn {
    background-color: var(--orange);
    font-family: 'Kumbh Sans';
    color: white;
    width: 100%;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 0px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 700;
    box-shadow: 0px 20px 50px 0px var(--lightorange);
    cursor: pointer;
}

.add-cart-btn p {
    margin-left: 7px;
    letter-spacing: 0.5px;
}

.cart-bottom {
    filter: brightness(0) invert(1);
    height: 16px;
    width: auto;
    margin-right: 7px;
}

.add-cart-btn:hover {
    background-color: var(--lightorange);
}

/*------------------------------------------------media queries-----*/

/*--------------desktop styling-----*/
@media only screen and (min-width: 700px) {
    body {
        background: white;
        display: flex;
        min-height: 100vh;
        margin-left: 15%;
        overflow: hidden;
    }

    /*----------header styles-------------*/

    header {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        position: fixed;
        height: 113px;
        width: 70%;
        margin-left: 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid var(--lightgrey);
        z-index: 999;
    }

    .logo {
        all: unset;
        position: absolute;
        display: flex;
        grid-column:  1/ 1;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: 0px;
        margin-top: 0px;
        height: 20px;
        width: auto;
    }

    .nav-bar {
        position: relative;
        all: unset;
        z-index: 999;
        grid-column:  2/ 2;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: -175px;
    }
    
    .nav-menu {
        position: relative;
        height: 0;
        transition: unset;
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 0 auto;
    }
    
    .nav-menu li {
        list-style: none;
        margin-top: 0px;
        margin-left: 0px;
        font-weight: 400;
    }
    
    .nav-menu a {
        text-decoration: none;
        font-weight: 500;
        color: var(--darkgrey);
        position: relative;
    }
    
    .nav-menu a:hover {
        color: var(--darkblue);

    }

    .nav-menu a::after {
        content: '';
        display: block;
        height: 5px;
        background: var(--orange);
        position: absolute;
        top: 3.6em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }
    
    .nav-menu a:hover::after {
        transform: scale(1, 1);
    }

    .nav-bar.active {
        display: block;
    }

    .cart-avatar {
        grid-column:  3/ 3;
    }
    
    .hamburger {
        display: none;
    }

    .avatar {
        height: 50px;
        width: auto;
        cursor: pointer;
    }

    .avatar:hover {
        border: 2px solid var(--orange);
        border-radius: 50%;
    }
    
    .cart-top {
        height: 20px;
        width: auto;
        margin-right: 46px;
        cursor: pointer;
    }

    .cart-container {
        background-color: white;
        width: 360px;
        height: 258px;
        border-radius: 10px;
        box-shadow: 0px 10px 20px 0px var(--grey);
        top: 8%;
        right: 15%;
        position: fixed;
        display: none;
    }

    .cart-container.visible {
        display: block;
    }

    .cart-container h3 {
        position: relative;
        font-size: 1em;
        padding: 20px;
    }

    .break {
        position: relative;
        width: 360px;
        height: 3px;
        background-color: var(--lightgrey);
    }

    .cart-items {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
    }

    .cart-empty {  
        top: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--darkgrey);
        padding: 20px;
    }

    .cart-img {
        height: 60px;
        width: 60px;
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        padding: 5px;
    }

    .cart-content {
        display: flex;
        color: var(--darkgrey);
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 1em;
        font-weight: 500;
        line-height: 1.8;
        padding: 5px;
    }

    #priceTotal {
        font-weight: 700;
        color: black;
    }

    .delete-btn {
        cursor: pointer;
    }

    .delete-btn:hover {
        filter: brightness(-100%);
    }

    .checkout {
        width: 90%;
        height: 56px;
        top: 75%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        border: 0px;
        border-radius: 10px;
        font-size: 1em;
        background-color: var(--orange);
        color: white;
        cursor: pointer;
    }

    .checkout:hover {
        background-color: var(--lightorange);
    }

    /*----------main container styles-------------*/

    .overlay {
        display: none;
    }
    
    .container {
        position: relative;
        margin: 0;
        top: 103px;
        right: 2vw;
        height: 700px;
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .gallery {
        position: relative;
        display: block;
        grid-column:  1/ 1;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        right: 125px;
        top: 50px;
    }

    .slide-gallery {
        position: relative;
        height: 450px;
        width: 450px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        background-size: cover; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover;
        cursor: pointer;
    }

    .slide-gallery img {
        height: 450px;
        width: 450px;
        border-radius: 20px;

    }

    .thumb-slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 30px;
        gap: 30px;
        grid-row:  2/ 2;
        justify-content: center;
        align-items: center;
    }

    .thumb-img {
        height: 90px;
        width: 90px;
        background: white;
        border-radius: 10px;
        cursor: pointer;
    }

    .thumb-img:hover {
        border: 3px solid var(--orange);
    }

    .thumb-img.active {
        opacity: 0.5;
        border: 3px solid var(--orange);
    }

    .gallery-modal {
        position: fixed;
        display: none;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .slide-img {
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto 0 auto;
        height: 550px;
        width: 550px;
        border-radius: 20px;
        background-size: cover; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover;
        cursor: pointer;
        z-index: 1001 ;
    }

    .thumb-slide-pop {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        top: 30px;
        gap: 30px;
    }

    .thumb-img-pop {
        position: relative;
        height: 90px;
        width: 90px;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        z-index: 1000;
    }

    .thumb-img-pop-bg {
        position: absolute;
        height: 90px;
        width: 90px;
        background-color: seashell;
        opacity: 1;
        border-radius: 10px;
        z-index: 1;
    }

    .thumb-img-pop:hover {
        border: 3px solid var(--orange);
    }

    .active {
        background-image: white;
        opacity: 0.5;
        border: 3px solid var(--orange);
    }

    .modal-bg {
        background-color: var(--black);
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .arrows-pop {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        top: 45%;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        z-index: 1002;
        cursor: pointer;
    }
    
    .arrows-pop img {
        height: 20px;
        width: auto;
    }
    
    .previous-img-pop {
        left: 34vw;
    }
    
    .next-img-pop {
        right: 34vw;
    }

    .arrows-pop img:hover {
        filter: invert(56%) sepia(13%) saturate(5686%) hue-rotate(347deg) brightness(103%) contrast(102%);
    }

    .arrows {
        display: none;
    }

    .close-modal {
        position: relative;
        display: flex;
        margin: 20px auto;
        right: -260px;
        filter: brightness(300%);
        height: 25px;
        width: 25px;
        cursor: pointer;
        z-index: 1002;
    }

    .close-modal:hover {
        filter: invert(56%) sepia(13%) saturate(5686%) hue-rotate(347deg) brightness(103%) contrast(102%);
    }

    /*----------product info/prices card styles-------------*/
    
    .card {
        position: relative;
        display: flex;
        grid-column:  2/ 2;
        justify-content: flex-start;
        align-items: flex-start;
        display: block;
        margin: 0;
        width: 60%;
        top: 5vh;
        right: 20%;
    }
    
    .s-comp {
        margin-bottom: 22px;
        font-size: 10pt;
        color: #eb9a31;
        font-weight: 800;
        letter-spacing: 1px;
    }
    
    .s-header {
        margin-bottom: 22px;
        position: relative;
        font-weight: 700;
        font-size: 35pt;
        bottom: 10px;
    }
    
    .s-descrip {
        margin-bottom: 39px;
        position: relative;
        color: var(--darkgrey);
        line-height: 1.6;
        bottom: 13px;
        font-weight: 400;
    }
    
    .prices {
        position: relative;
        display: block;
        justify-content: space-between;
        align-items: center;
        bottom: 30px;
        margin-bottom: 25px;
    }
    
    .price-new {
        font-weight: 700;
        font-size: 1.75em;
        line-height: 1.6; 
    }
    
    .price-discount {
        position: absolute;
        width: 50px;
        height: 27px;
        border-radius: 8px;
        text-align: center;
        font-weight: 700;
        line-height: 1.75;
        top: 9px;
        left: 120px;
    }
    
    .price-original {
        position: relative;
        color: var(--grey);
        text-decoration: line-through;
        font-weight: 700;
        font-size: 1.1em; 
    }

    /*----------add to cart btns styles-------------*/

    .cart-btns {
        position: relative;
        display: flex;
        bottom: 0;
    }
    
    .cart {
        background-color: var(--lightgrey);
        font-family: 'Kumbh Sans';
        width: 40%;
        height: 56px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 16px;
        border: 0px;
        border-radius: 10px;
        font-weight: 700;
        font-size: 1em;
    }
    
    .minus {
        position: relative;
        right: 10px;
    }
    
    .plus {
        position: relative;
        left: 10px;
    }
    
    .add-cart-btn {
        width: 60%;
        height: 56px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-left: 16px;
        border: 0px;
        border-radius: 10px;
        font-size: 1em;
        font-weight: 700;
        box-shadow: 0px 20px 50px 0px var(--lightorange);
    }
    
    .add-cart-btn p {
        margin-left: 7px;
        letter-spacing: 0.5px;
    }
    
    .cart-bottom {
        filter: brightness(0) invert(1);
        height: 16px;
        width: auto;
        margin-right: 7px;
    }
}

